<form method="post" action="{{ path('app_admin_bundle_delete', {'id': product_bundle.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce pack ?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_bundle.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i> Supprimer</button>
</form>
