{{ form_start(form, {'attr': {'class': 'form-wrapper'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" style="margin-top: 1rem;"><i class="fa-solid fa-save"></i> {{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
