{% extends 'base.html.twig' %}

{% block title %}Modifier Équipement{% endblock %}

{% block body %}
    <div style="max-width: 600px; margin: 0 auto;" class="glass-card">
        <h1 style="text-align:center;">Modifier #{{ equipement.id }}</h1>

        {{ include('equipement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div style="margin-top: 2rem; display: flex; justify-content: space-between; align-items: center;">
            <a href="{{ path('app_equipement_index') }}" style="color: #198B61; text-decoration: underline;">Retour à la liste</a>
            
            {{ include('equipement/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
