{% extends 'base.html.twig' %}

{% block title %}Ajouter un Équipement{% endblock %}

{% block body %}
    <div style="max-width: 600px; margin: 0 auto;" class="glass-card">
        <h1 style="text-align:center;">Nouvel Équipement</h1>
        
        {{ include('equipement/_form.html.twig') }}

        <div style="margin-top: 2rem; text-align: center;">
            <a href="{{ path('app_equipement_index') }}" style="color: #198B61; text-decoration: underline;">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
