{% extends 'base.html.twig' %}

{% block title %}Ajouter un Produit{% endblock %}

{% block body %}
    <div style="max-width: 600px; margin: 0 auto;" class="glass-card">
        <h1 style="text-align:center;"><i class="fa-solid fa-plus-circle"></i> Nouveau Produit</h1>

        {{ include('product/_form.html.twig') }}

        <div style="margin-top: 2rem; text-align: center;">
            <a href="{{ path('app_marketplace_my_products') }}" style="color: var(--dark-green); text-decoration: underline;">Retour à mes produits</a>
        </div>
    </div>
{% endblock %}
