<form method="post" action="{{ path('app_parcelle_delete', {'id': parcelle.id}) }}" onsubmit="return confirm('Supprimer cette parcelle ?');" style="display:inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parcelle.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>