{% extends 'base.html.twig' %}

{% block title %}New Parcelle{% endblock %}

{% block body %}
    <h1>Create new Parcelle</h1>

    {{ include('Parcelle/_form.html.twig') }}

    <a href="{{ path('app_parcelle_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}