body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f6b3b;
}

/* CENTER */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.card {
    display: flex;
    width: 1100px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    overflow: hidden;
}

/* LEFT */
.content-box {
    width: 100%;
    padding: 30px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    color: gray;
}

/* TABLE */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    background: #0f6b3b;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f2f2f2;
}

/* BUTTONS */
.btn {
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.update {
    background: #3498db;
}

.delete {
    background: #e74c3c;
}

/* LOGOUT */
.logout-btn {
    background: black;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
}

/* RIGHT IMAGE */
.image-box {
    width: 40%;
    background: #0f6b3b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    width: 80%;
}

.btn:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.2s;
}