body {
    margin: 0;
    background-color: #0f6b3b;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.card {
    display: flex;
    width: 850px;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

/* LEFT SIDE */
.left {
    width: 50%;
    padding: 60px;
}

.left p {
    color: #555;
    font-size: 16px;
}

.left h1 {
    font-size: 34px;
    font-weight: bold;
}

/* INPUT */
input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
}

/* BUTTON */
.btn {
    width: 100%;
    height: 45px;
    border: none;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

.blue {
    background: #2196F3;
}

.green {
    background: #0f6b3b;
}

/* RIGHT SIDE */
.right {
    width: 50%;
    background-color: #0f6b3b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    max-height: 400px;
}

/* MESSAGE */
.error {
    color: red;
    font-weight: bold;
}