<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AGRI Samir - Reset Password</title>
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
</head>
<body>

<div class="app-container">

    <!-- ===== MAIN CONTENT ===== -->
    <div class="main-card">

        <!-- ===== LEFT RESET ===== -->
        <div class="login-box">

            <p class="welcome">Récupération</p>
            <h1>Reset Password</h1>

            <form method="post">

                <!-- Email -->
                <label>Adresse email</label>
                <input type="email" name="email" placeholder="Votre email" required>

                <!-- OTP -->
                <label>Code OTP</label>
                <input type="text" name="otp" placeholder="Entrez le code reçu">

                <!-- New Password -->
                <label>Nouveau mot de passe</label>
                <input type="password" name="password" placeholder="Nouveau mot de passe" required>

                <!-- Confirm Password -->
                <label>Confirmer mot de passe</label>
                <input type="password" name="confirm" placeholder="Confirmer mot de passe" required>

                <!-- Message -->
                {% if message %}
                    <p class="error">{{ message }}</p>
                {% endif %}

             

                <!-- Button -->
                <button type="submit" class="btn-login">Réinitialiser</button>
                
            

            </form>
         <!-- Back to login -->
            <p class="register">
                Retour à la connexion ?
                <a href="{{ path('app_login') }}">Se connecter</a>
            </p>

        </div>

        <!-- ===== RIGHT IMAGE ===== -->
        <div class="image-box">
            <img src="{{ asset('images/Samir/login.png') }}" alt="reset image">
        </div>

    </div>

</div>

</body>
</html>